.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  /* line-height: 1.6; */
  gap: 2rem;
}
.titleContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--accent);
  gap: 1rem;
}
.title {
  width: 100%;
  font-size: var(--fs-26);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  /* animation: title 0.8s forwards; */
}
.update {
  font-size: var(--fs-1);
}
/* .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 80px;
  background: white;
  width: 100%;
  height: 1px;
  transition: width 0.3s ease-in-out;
} */

/* --- Sections --- */
.sectionsContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.section {
  scroll-margin-top: 80px; /* utile si navigation avec un sommaire */
}

.sectionTitle {
  font-size: var(--fs-18);
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
  border-left: 4px solid var(--accent);
  padding-left: 0.8rem;
}
.sectionSubtitle {
  font-size: var(--fs-14);
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--white);
}

.sectionText {
  font-size: var(--fs-1);
  color: var(--white);
  margin-bottom: 1rem;
}

.infos {
  font-weight: 600;
}

/* --- Listes --- */
.sectionText ul {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.sectionText li {
  margin-bottom: 0.5rem;
  list-style: disc;
}

/* --- Liens --- */
.link {
  color: var(--accent);
  /* color: rgb(30, 115, 190); */
  text-decoration: none;
  font-weight: 500;
  font-size: var(--fs-1);
}

.link:hover {
  color: var(--white);
}

.website {
  font-weight: bold;
  font-size: var(--fs-1);
}

/* --- Séparateurs --- */
.separator {
  height: 2px;
  /* background: var(--accent); */
  background: var(--accent);
  margin: 30px 0;
  border: none;
}

.subSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subTitle {
  margin-top: 1rem;
  font-size: var(--fs-14);
  font-weight: 600;
}
.subSection p,
.subSection ul li {
  font-size: var(--fs-1);
}

@media (min-width: 768px) {
  .titleContainer,
  .sectionsContainer {
    width: 81%;
  }
  .title {
    font-size: var(--fs-28);
  }
  .update,
  .sectionText,
  .link,
  .website,
  .subSection p,
  .subSection ul li {
    font-size: var(--fs-11);
  }
  .sectionTitle {
    font-size: var(--fs-2);
  }
  .sectionSubtitle,
  .subTitle {
    font-size: var(--fs-16);
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: var(--fs-3);
  }
  .update,
  .sectionText,
  .link,
  .website,
  .subSection p,
  .subSection ul li {
    font-size: var(--fs-12);
  }
  .sectionTitle {
    font-size: var(--fs-22);
  }
  .sectionSubtitle,
  .subTitle {
    font-size: var(--fs-18);
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: var(--fs-32);
  }
  .update,
  .sectionText,
  .link,
  .website,
  .subSection p,
  .subSection ul li {
    font-size: var(--fs-13);
  }
  .sectionTitle {
    font-size: var(--fs-24);
  }
  .sectionSubtitle,
  .subTitle {
    font-size: var(--fs-2);
  }
}

/* KEY FRAMES ANIMATION */

@keyframes title {
  from {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
