.container {
  font-family: "Inter", sans-serif;
  color: #111;
  line-height: 1.6;
  padding: 1rem;
  width: 90%;
  margin: 2rem auto 6rem auto;
  position: relative;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.heroContent {
  width: 100%;
}

.title {
  font-size: var(--fs-18);
  text-align: center;
  color: var(--white);
  /* font-weight: 700; */
  /* margin-bottom: 0.5rem; */
}

.subtitle {
  font-size: var(--fs-1);
  color: var(--grey);
  margin-bottom: 1.5rem;
  text-align: center;
}

.ctaBtn {
  display: inline-block;
  background-color: var(--white);
  color: var(--accent);
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  transition: all 0.3s ease;
  text-decoration: none;
  border: 1px solid var(--accent);
  text-align: center;
}

.ctaBtn:hover {
  background: var(--accent);
  border: 1px solid var(--white);
  color: var(--white);
}

/* Hero Image */
.heroImage {
  position: relative;
  width: 100%;
  height: 350px;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 16px;
}
.heroImage img {
  object-fit: cover;
}

/* Features Section */
.features {
  margin: 5rem 0 5rem 0;
}

.sectionTitle {
  font-size: var(--fs-16);
  /* font-weight: 700; */
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background: var(--white);
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: var(--fs-14);
  /* font-weight: 600; */
  margin: 1rem 0 0.5rem 0;
}

.card p {
  font-size: var(--fs-1);
  color: var(--grey);
}

/* Final CTA */
.finalCTA {
  text-align: center;
  padding: 2rem 1rem;
  background: var(--white);
  color: var(--black);
  border-radius: 16px;
}

.finalCTA h2 {
  font-size: var(--fs-16);
  margin-bottom: 0.75rem;
}

.finalCTA p {
  font-size: var(--fs-1);
  margin-bottom: 1.5rem;
}

.imgContainer {
  position: absolute;
  bottom: -25px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
  list-style: none;
  z-index: 2;
}
.imgCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--white);
  margin-left: -12px;
}
.imgCard:nth-child(1) {
  margin-left: 0;
}
.img {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

@media (min-width: 360px) {
  .heroImage {
    height: 400px;
  }
}
@media (min-width: 375px) {
  .heroImage {
    height: 420px;
  }
}
@media (min-width: 384px) {
  .heroImage {
    height: 440px;
  }
}
@media (min-width: 414px) {
  .heroImage {
    height: 460px;
  }
}
@media (min-width: 590px) {
  .heroImage {
    height: 660px;
  }
  .imgCard {
    width: 80px;
    height: 80px;
  }
  .imgCard:nth-child(1) {
    position: absolute;
    top: -330px;
    left: 20px;
  }
  .imgCard:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 120px;
  }
  .imgCard:nth-child(3) {
    position: absolute;
    top: -330px;
    left: 270px;
  }
  .imgCard:nth-child(4) {
    position: absolute;
    top: 20px;
    left: 400px;
  }
  .imgCard:nth-child(5) {
    position: absolute;
    top: -210px;
    left: 490px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .title {
    font-size: var(--fs-22);
  }

  .subtitle,
  .card p,
  .finalCTA p {
    font-size: var(--fs-11);
  }
  .ctaBtn {
    width: 65%;
    margin: 0 auto;
    font-size: var(--fs-11);
  }
  .sectionTitle,
  .finalCTA h2 {
    font-size: var(--fs-2);
  }

  .card h3 {
    font-size: var(--fs-18);
  }

  .heroImage {
    height: 660px;
  }
  .finalCTA {
    width: 100%;
  }
  .ctaBtn:nth-last-child(1) {
    width: 80%;
  }
  .imgCard:nth-child(1) {
    position: absolute;
    top: -350px;
    left: 30px;
  }
  .imgCard:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 160px;
  }
  .imgCard:nth-child(3) {
    position: absolute;
    top: -365px;
    left: 350px;
  }
  .imgCard:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 520px;
  }
  .imgCard:nth-child(5) {
    position: absolute;
    top: -150px;
    left: 580px;
  }
}
@media (min-width: 820px) {
  .imgCard:nth-child(5) {
    position: absolute;
    top: -150px;
    left: 640px;
  }
}
@media (min-width: 912px) {
  .imgCard:nth-child(1) {
    position: absolute;
    left: 50px;
  }
  .imgCard:nth-child(3) {
    position: absolute;
    left: 380px;
  }
  .imgCard:nth-child(5) {
    position: absolute;
    top: -150px;
    left: 720px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 47%;
  }
  .title {
    font-size: var(--fs-26);
  }

  .subtitle,
  .ctaBtn,
  .card p,
  .finalCTA p {
    font-size: var(--fs-12);
  }

  .sectionTitle,
  .finalCTA h2 {
    font-size: var(--fs-24);
  }

  .card h3 {
    font-size: var(--fs-22);
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .ctaBtn {
    margin-top: 1rem;
  }

  .heroImage {
    height: 660px;
  }
  .finalCTA {
    width: 100%;
  }
  .ctaBtn:nth-last-child(1) {
    width: 80%;
  }
  .imgCard:nth-child(1) {
    position: absolute;
    top: -380px;
    left: 80px;
  }
  .imgCard:nth-child(3) {
    position: absolute;
    top: -405px;
    left: 500px;
  }
  .imgCard:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 550px;
  }
  .imgCard:nth-child(5) {
    position: absolute;
    top: -180px;
    left: 800px;
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 1280px) {
  .card {
    width: 31%;
  }
  .title {
    font-size: var(--fs-26);
  }

  .subtitle,
  .ctaBtn,
  .card p,
  .finalCTA p {
    font-size: var(--fs-12);
  }

  .sectionTitle,
  .finalCTA h2 {
    font-size: var(--fs-24);
  }

  .card h3 {
    font-size: var(--fs-22);
  }
  .imgCard:nth-child(1) {
    position: absolute;
    top: -370px;
    left: 50px;
  }
  .imgCard:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 100px;
    height: 100px;
  }
  .imgCard:nth-child(3) {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -85px;
    left: -40px;
  }
  .imgCard:nth-child(4) {
    position: absolute;
    top: -110px;
    left: 960px;
    width: 120px;
    height: 120px;
  }
  .imgCard:nth-child(5) {
    position: absolute;
    top: -430px;
    left: 980px;
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 1440px) {
  .imgCard:nth-child(1) {
    position: absolute;
    top: -320px;
    left: 150px;
  }
  .imgCard:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 550px;
    width: 100px;
    height: 100px;
  }
  .imgCard:nth-child(3) {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -85px;
    left: -40px;
  }
  .imgCard:nth-child(4) {
    position: absolute;
    top: -80px;
    left: 1080px;
    width: 120px;
    height: 120px;
  }
  .imgCard:nth-child(5) {
    position: absolute;
    top: -355px;
    left: 1090px;
    width: 140px;
    height: 140px;
  }
}
